body{
	margin: 0;
	padding: 0;
	background-position: center;
	font-family: sans-serif;
	background: url(images/i.jpeg) no-repeat;
	background-size:cover;
}

.aa{
	width: 40%;
	height: 25%;
	background-color: rgba(90,90,90,0.4);
	margin: 0 auto;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 25px;
	border-radius: 15px;
	color:white;  
	font-weight: bolder;
	box-shadow: inset -4px -4px rgba(0,0,0,0.5);
   }
   
   .aa input[type="text"]{
    width: 200px;
    height: 25px;
    border:0px;
    border-radius: 5px;
    margin-top: 15px;
    madding-left: 10px;
}

.aa input[type="password"]{
    width: 200px;
    height: 25px;
    border:0px;
    border-radius: 5px;
    margin-top: 15px;
     margin: center;
      padding-left: 10px;
}

.aa input[type="submit"]{
    width: 100px;
    height: 30px;
    border:0px;
    border-radius: 5px;
    margin-top: 10px;
   argin: center;
    p  margin: center;
     background-color: lightblue;
}

.login-box{
	width:280px;
	position: absolute;
	background-color:purple;
	background:transparent;
	top:40%;
	left: 35%;
	tranform: translate(-50%,-50%);
	color:cyan;
}
.login-box1{
	width:180px;
	position: absolute;
	background:purple;
	top:90%;
	left: 55%;
	tranform: translate(-50%,-50%);
	color:red;
}
.login-box3{
	width:180px;
	position: absolute;
	background:purple;
	top:90%;
	left: 25%;
	tranform: translate(-50%,-50%);
	color:red;
}
.login-box2{
	width:250px;
	position: absolute;
	background:black;
	top:100%;
	left: 38%;
	tranform: translate(-50%,-50%);
	color:yellow;
}
.login-box h1{
	float: center;
	width:45%;
	
	font-size: 30px;
	background:transparent;
	 border: 1px solid #B0C4DE;
	border-bottom: purple;
	margin-bottom: 1px;
	padding: 10px 0
}
.textbox{
	width:100%;
	overflow:hidden;
	font-size:50px;
	padding:5px 0;
	margin:8px 0;
	border-bottom:1px solid #4caf50;
}
.a{
	color:hotpink;
}
.textbox input{
	border:none;
	outline:none;
	background:none;
	color:white;
	font-size:25px;
	width:80%;
	float:left;
	margin:0 10px;
}
.btn{
	width:100%;
	background:none;
	border:2px solid #F44336;
	color:red;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;
}
.content {
	align:center;
	width: 50%;
		padding: 2px;
	border: 1px solid #B0C4DE;
	background:transparent;
	border-radius: 0px 0px 10px 10px;
}
.header {
	width: 30%;
	margin: 20px auto 0px;
	color: red;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}